html,
body {
  margin: 0;
  padding: 0;
  background: url(https://2.bp.blogspot.com/-Drfk2NCL534/Wi_kzZNOOxI/AAAAAAAAAEE/IYc6PiRMBPE4D2kyM5BvZzkOMQIrkNniACLcBGAs/s1600/spaghetti-2914388_1920.jpg)
    repeat;
  font-family: "SimHei", "Courier New", Courier, monospace;
}

button {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  a:hover {
    color: inherit;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.body_container {
  width: 100vw;
  max-width: 1000px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
}

.header {
  background: url("https://cdn.pixabay.com/photo/2017/11/03/13/42/spaghetti-2914388_1280.jpg")
    center center no-repeat;
  height: 400px;
  position: relative;

  &_nav {
    position: relative;
    height: 68px;
    padding: 0 1rem;
    background: rgba(10, 10, 10, 0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_content {
    background: rgba(255, 255, 255, 0.4);
    width: 65%;
    max-width: 400px;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1rem 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Microsoft YaHei", "Courier New", Courier, monospace;
    letter-spacing: 2px;
  }
  &_logo {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: "FangSong", "STFangsong", "Courier New", Courier, monospace;
  }

  &_btn {
    background: none;
    border: none;
    color: white;
    padding: 1rem;
  }
}

.feature {
  padding: 1rem 2rem;
  text-align: center;
  &_title {
    font-weight: bolder;

    font-size: 1.5rem;
  }
  &_item {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(204, 229, 255);
    border-radius: 4px;
  }
  &_item-title {
    font-weight: bolder;
  }
  &_avatar {
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
    max-width: 200px;
    width: 100%;
  }
}

.recommand {
  padding: 1rem;
  background: rgba(50, 50, 50);
  &_title {
    text-align: center;
    color: rgba(200, 200, 200);
  }

  &_item {
    background: rgba(200, 200, 200);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }

  &_avatar {
    flex: 0 0 100px;
    overflow: hidden;
  }

  &_content {
    margin: 0 1rem;
  }
}

.reserve {
  padding: 1rem;
  &_title {
    text-align: center;
  }

  &_block {
    margin: 1rem auto;
    padding: 1rem;
    border-style: solid;
    border: 3px 0 0 0;
    border-color: rgba(181, 91, 59, 1);
    box-shadow: 3px 3px 0 rgba(50, 50, 50, 0.5);
  }

  &_item {
    padding: 1rem;
  }

  &_form {
    & > * {
      margin: auto;
      display: block;
      width: 100%;
      margin: 0.5rem 0;
      box-sizing: border-box;
      padding: 0 5px;
    }
  }

  &_btn-group {
    display: flex;
    justify-content: space-between;
  }

  &_btn {
    box-sizing: border-box;
    width: 48%;
    padding: 5px;
    &-cancel {
      background-color: rgb(204, 204, 255);
      &:hover {
        background-color: rgb(94, 134, 193);
      }
    }

    &-confirm {
      background-color: rgb(255, 165, 0);
      &:hover {
        background-color: rgb(255, 77, 0);
      }
    }
  }
  &_map {
    box-sizing: border-box;
    padding: 0.1rem;
    width: 100%;
    max-width: 500px;
  }
}

.footer {
  background: rgba(0, 0, 0, 1);
  color: rgba(200, 200, 200);
  &_block {
    padding: 1rem;
  }
  i {
    margin-right: 6px;
  }
  &_item {
    padding: 6px 0;
  }
  &_logo {
    font-size: 50px;
    font-family: "FangSong", "STFangsong", "Courier New", Courier, monospace;
  }
  &_social {
    margin: 1rem 0;
  }
}

.login {
  text-align: center;
  padding: 1rem;
  &_title {
    font-weight: bold;
    margin-bottom: 0;
  }
  .block {
    margin: 1rem auto;
    padding: 1rem;
    border-style: solid;
    border: 3px 0 0 0;
    border-color: rgba(181, 91, 59, 1);
    box-shadow: 3px 3px 0 rgba(50, 50, 50, 0.5);
    max-width: 300px;
  }

  &_btn {
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 0.5rem;
    background-color: cadetblue;
  }
  form {
    & > * {
      display: block;
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}

.product {
  padding: 1rem 3rem;
  &_searchbar {
    color: rgba(255, 255, 255);
    background-color: rgb(71, 0, 36);
    border: 4px solid rgb(71, 0, 36);
    display: flex;
    align-items: center;
    height: 2rem;
    input {
      display: block;
      width: 100%;
    }
  }
  &_menu_content{
    letter-spacing: 10px;
    font-weight: bold;
  }

  &_menu_item {
    display: block;
    width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 0.5rem;
    &--active {
      background-color: rgb(71, 0, 36);
      color: rgb(200, 200, 200);
    }
    &:hover {
      background-color: rgba(50, 50, 50, 0.5);
      color: rgba(255, 255, 255);
    }
    a {
      &:hover {
        display: block;
      }
    }
  }
}

.product_showcase {
  position: relative;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  justify-content: space-between;
  .product_goods {
    margin: 6px;
    text-align: center;
    background: rgba(255, 255, 255);
    box-shadow: 2px 2px;
  }

  .product_image {
    position: relative;
  }
  .product_favorite {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .product_btn {
    margin: 1rem 5%;
    width: 90%;
    padding: 10px;
    border: rgba(255, 77, 0) solid 2px;
    box-sizing: border-box;
  }
}

@media (min-width: 786px) {
  .feature_block,
  .reserve_block,
  .product {
    display: flex;
  }
  .feature_item,
  .reserve_item {
    flex: 1 1 0;
  }
  .product_menu {
    flex: 0 0 200px;
  }
  .product_area {
    flex: 1 1 0;
  }
  .header_navbar {
    list-style-type: none;
    display: flex;
    font-family: "FangSong", "LiSong Pro Light", "Courier New", Courier,
      monospace;
    font-size: 1.2rem;
    li {
      margin: 0.5rem;
    }
    a {
      &:hover {
        color: blueviolet;
      }
    }
  }
  .header_btn {
    display: none;
  }
}
@media (min-width: 668px) {
  .footer_block {
    display: flex;
  }
  .footer_block {
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer_nav {
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 786px) {
  .header {
    &_navbar {
      height: 0;
      overflow: hidden;
      width: 100%;
      margin: 0;
      position: absolute;
      background: inherit;
      top: 100%;
      left: 0;
      z-index: 1;
      transition: height 1s;

      &--active {
        height: 141px;
      }
      > li {
        padding: 0.5rem 1rem;
        &:hover {
          background-color: rgba(10, 10, 10, 0.8);
        }
      }
      a {
        display: block;
      }
    }
  }
}
