$header_padding: 16px;
$nav_bg-color: rgba(10, 10, 10, .9);
$transparent: rgba(0, 0, 0, 0);
$dark-red:rgb(71, 0, 36);
$orange:rgb(255, 77, 0);


$RWD-sm:540px;
$RWD-md:720px;
$RWD-lg:960px;
$RWD-xl:1140px;